.modal-intro {
  left: inherit;
  top: inherit;
  right: inherit;
  bottom: inherit;
  width: 80%;
}

.modal-intro-overlay {
  background: rgb(81,155,206);
  background: linear-gradient(146deg, rgba(81,155,206,1) 0%, rgba(51,77,128,1) 100%); 

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-intro .header {
  text-align: center;
}

.modal-intro .avatar-selection {
  display: flex;
}
.modal-intro .avatar-selection canvas {
  margin: auto
}

.modal-intro .footer {
  display: flex;
  justify-content: center;
}